/* CSS styles for the signup page */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Orbitron&family=Pixelify+Sans&display=swap');


/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Body styles */
  body {
    font-family: 'Roboto', sans-serif; /* Use the desired font family */
    background-color: #f4f4f4; /* Change as needed */
    background-image: url(https://i.pinimg.com/originals/19/32/4a/19324a087a3ff2fcd50154d9979231c5.gif);
    color: #333; /* Change text color as needed */
    line-height: 1.6;
  }
  
  /* Header styles (You can customize these further) */
  header {
    background-color: #33333300;
    color: #fff;
    padding: 2px;

  }
  
  header .logo h1 {
  font-family: 'Orbitron', sans-serif;
  color: rgb(255, 255, 255);
  padding-left: 10px;
  letter-spacing: 0.9em;
  }
  
  
  /* Main content styles */
  main {
    padding: 20px;
  }
  
  section#signup {
    text-align: center;
    margin-top: 50px;
  }
  
  .signup-container {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container h2 {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  p {
    margin-top: 15px;
  }
  
  p a {
    color: #333;
    text-decoration: underline;
  }
  